
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Custom Variable</title>
</head>
<body>
<div>
    <div>Controller : <strong>@ViewBag.Controller</strong></div>
    <div>Action name : <strong>@ViewBag.Action</strong></div>
    <div>Id : <strong>@ViewBag.CustomVariable</strong></div>
</div>
</body>
</html>